.btn {


    width:100px;

    height:50px;

    
    text-align:center;

    color:black;

    border-radius:20px;

    border:1px solid black;

    cursor: pointer;

    background-color: grey;
    
    transition: transform (2s);
    
    :hover {
        
      transform: scale(3)
    }
    



    }

    .btn-grey{


        @extend.btn;
    }

    .btn-red {

    @extend.btn;
    background-color: rgb(228, 243, 88);
    width: auto;

    }


    @mixin position-flex ($justify, $align) {


        display: flex;
        justify-content: $justify;


    }

    .botones-contacto {

     @include position-flex(flex-end, center)

    }
